.git
.github
.gitignore

.env
.env.*
!.env.example

node_modules
vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

public/storage

compose.yaml
compose.production.yaml
docker-compose.yml

npm-debug.log
yarn-error.log

.DS_Store
Thumbs.db

tests
phpunit.xml

bootstrap/cache/*
